#main{
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    width: 470px;
}
.case{
    border: 2px solid black;
    height: 150px;
    width: 150px;
}
#res{
    font-size: 25px;
    color: red;
}
#replay{
    visibility: hidden;
}